/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/public/google-fonts/open-sans-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/public/google-fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/public/google-fonts/open-sans-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/public/google-fonts/open-sans-v28-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/public/google-fonts/open-sans-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/public/google-fonts/open-sans-v28-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/public/google-fonts/open-sans-v28-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/google-fonts/open-sans-v28-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/public/google-fonts/open-sans-v28-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/google-fonts/open-sans-v28-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

* { font-family: 'Open Sans', sans-serif }
html { font-size: 90%; color: var(--page-text-color); }
body { background-color: var(--page-background-color); color: var(--page-text-color); padding: 0; margin: 0; width: 100%; height: 100% }
table { border-collapse: collapse; margin-bottom: 2rem }
th { background-color: var(--table-heading-background-color); color: var(--table-heading-text-color); text-align: left }
th,
td { padding: 0.5rem 1rem 0.5rem 0.5rem; border: 1px solid #333 }
tr.alt td { background-color: var(--table-alt-background-color) }
h1 { margin: 0; font-size: 1.3rem; padding: 0; margin-bottom: 1rem }
h2 { margin: 0; font-size: 1.2rem; padding: 0; margin-bottom: 1rem }
h3 { margin: 0; font-size: 1.1rem; padding: 0; margin-bottom: 1rem }
li { list-style-type: none }
li ul { margin: 0; padding-left: 0.5rem }
a { color: var(--link-text-color); text-decoration: none; font-size: 0.9rem }
a:hover { color: var(--link-hover-text-color) }
p { max-width: 90rem }
h1 a,
h2 a,
h3 a,
p a { font-size: inherit; text-decoration: underline }

.section-container { padding: 1rem }
.full { max-width: 100% }
p.note { font-size: 1.2rem; max-width: 36rem; line-height: 1.6rem; margin-top: 0.5rem }
.super-navbar { margin: 0; padding: 1rem 1rem 0 1rem }
.super-navbar a { font-size: 1rem; color: #117; font-weight: normal }

header { background: var(--header-gradient); color: var(--header-text-color); width: 100% }
header h1 { padding: 1rem 1rem 0.5rem 1rem; margin: 0 }
header p { display: inline-block; margin: 0; padding: 0 0 1rem 1rem; font-size: 1.4rem; color: var(--navigation-heading-text-color) }
header a { font-size: 1.4rem; color: var(--hedaer-link-text-color); font-size: 1.4rem }

.navigation { margin: 0 }
.navigation .menu { margin: 0 0 1rem 0; padding: 0 1rem }
.navigation .menu li { display: inline-block; margin: 0 1rem 0 0 }
.navigation .menu h2 { font-size: 1rem; margin: 0; padding: 0.5rem; color: var(--navigation-menu-heading-text-color); text-transform: uppercase; font-weight: normal }
.navigation .submenu { margin: 0; padding: 0 0 0 0.5rem }
.navigation .submenu li { margin: 0 1rem 0 0; padding: 0.5rem 1rem; display: inline-block }
.navigation .submenu li.active { background-color: var(--navigation-active-submenu-background-color); border-radius: 0.5rem 0.5rem 0 0; color: var(--navigation-active-submenu-text-color) }
.navigation .submenu li.active a { color: var(--navigation-active-submenu-link-text-color) }
.navigation a { color: var(--navigation-link-text-color); font-size: 1rem; font-weight: 500; text-decoration: none }
.navigation a:hover { color: var(--navigation-link-hover-text-color); text-decoration: underline }
.navigation .active h2 { background-color: var(--navigation-active-heading-color); border-radius: 0.5rem }
.navigation .active li { display: inline-block; margin-right: 2rem }

/* content */
.content { width: 100% }
.content li,
.content p { font-size: 0.9rem; line-height: 1.6rem; margin: 0 0 2rem 0 }
.content th,
.content td { font-size: 0.9rem; line-height: 1.2rem; padding: 0.25rem }
.content p { margin-bottom: 1rem }
.content p code { color: var(--content-code-color); font-size: inherit }
.content p a { text-decoration: underline; font-size: inherit }
.content li { line-height: 1.2rem; margin: 0.5rem; padding: 0 }
.content li h2 { margin-bottom: 0 }
.content ul { margin-left: 0; padding-left: 0 }
.content ol { margin-left: 0; padding-left: 1rem }
.content ol li { list-style-type: number }
.content pre { display: inline-block; line-height: 1rem; font-size: 0.75rem; background-color: var(--content-pre-background-color); border-radius: 0.5rem; overflow: auto; margin: 0 0 2rem 0; padding: 0; max-width: 100% }
.content pre code { display: block; margin: 0; padding: 0.5rem }
.content td pre { background-color: transparent; border: none}
.content td { padding-right: 4rem }

.devices { margin: 0 0 2rem 0; padding: 0; list-style-type: none; display: inline-block }
.devices li { cursor: pointer; color: var(--toggle-text-color); display: inline-block; font-size: 1rem; margin-right: 1rem; margin-left: 1rem; padding: 0 0.5rem; line-height: 2rem }
.devices li:hover { color: var(--toggle-text-hover-color) }
.devices li:first-of-type { margin-left: 0 }
.devices li:last-of-type { border-right: 0; margin-right: 2rem } 
.devices li.current { background-color: var(--toggle-current-background-color); border-radius: 0.5rem }

.modes { margin: 0 0 2rem 2rem; padding: 0; list-style-type: none; display: inline-block }
.modes li { cursor: pointer; color: var(--toggle-text-color); display: inline-block; font-size: 1rem; margin-right: 1rem; margin-left: 1rem; padding: 0 0.5rem; line-height: 2rem }
.modes li:hover { color: var(--toggle-text-hover-color) }
.modes li:first-of-type { margin-left: 0 }
.modes li:last-of-type { border-right: 0; margin-right: 2rem } 
.modes li.current { background-color: var(--toggle-current-background-color); border-radius: 0.5rem }

.screenshots,
.screenshots { list-style-type: none; margin: 0 0 2rem 0; padding: 0; width: 100% }
.screenshots li { margin: 0 0 1rem 0; width: 100%; max-width: 100%; vertical-align: top; text-align: center; border-radius: 0.5rem; border: 1px solid var(--screenshot-border-color); box-shadow: 0 0.25rem 1rem 0.25rem var(--screenshot-shadow-color) }
.screenshots img { width: 100%; height: auto; display: block }
.screenshots a { display: inline-block; margin-bottom: 0 }
.screenshots a.screenshot-link { padding: 0.5rem; overflow: hidden }
.screenshots a.route-link,
.screenshots span.description { display: inline-block; margin: 0.5rem }

div.ui-container { margin-top: 1rem }
div.api-via { margin-bottom: 1rem; margin: 0 0 2rem 0; color: var(--api-subtle-color); font-style: italic; font-size: 0.9rem }
pre.example { max-height: 24rem; overflow: scroll; padding: 0.1rem; background-color: var(--content-pre-background-color) }
a.home { font-weight: bold; margin: 1rem; display: inline-block }
span.nodejs { display: inline-block; font-size: 1rem; margin: 0.5rem 0 1rem 0 }
span.returns { display: block; margin: 0 0 2rem 0; color: var(--api-subtle-color); font-style: italic; font-weight: bold; font-size: 1.1rem }
span.get { color: var(--get-text-color) }
span.post { color: var(--post-text-color) }
span.patch { color: var(--patch-text-color) }
span.delete { color: var(--delete-text-color) }
.api-columns { display: grid; grid-template-columns: auto auto; grid-gap: 2rem }
.api { font-family: monospace; margin: 1rem 0 }
.api li { font-size: 0.9rem; margin: 0 0 1rem 0; padding: 1rem; background-color: var(--content-pre-background-color); border-radius: 0.5rem }
.api li:last-of-type { border-bottom: none }
.api li span { color: var(--api-subtle-color); font-size: 0.7rem; max-width: 100%; margin: 0 }
.api li li { display: block; font-size: 0.8rem; line-height: 1rem; margin: 0; padding: 0; border: none }
.api ul { display: inline }
.api .method { color: var(--api-method-color); border-radius: 0.25rem; font-size: 0.7rem; line-height: 0.9rem; padding: 0.25rem; margin-left: 0.25rem }
.api .get { background-color: var(--get-color) }
.api .post { background-color: var(--post-color) }
.api .patch { background-color: var(--patch-color) }
.api .delete { background-color: var(--delete-color) }
.api .nodejs { display: block; color: var(--api-subtle-color); margin: 0 }
.api .default { display: block; margin: 0 }
.api .example { display: block; margin: 0 }


.variables { font-family: monospace; margin: 1rem 0 }
.variables li { font-size: 0.9rem; margin: 0 0 1rem 0; padding: 0 0 1rem 0; border-bottom: 1px dotted var(--api-subtle-color) }
.variables li span { color: var(--api-subtle-color); font-size: 0.7rem; max-width: 100%; margin: 0; display: block }
.variables li:last-of-type { border-bottom: none }

pre { margin: 0 0 2rem 2rem }
td ul { margin: 0; padding: 0 }

/* solarized dark theme, Original Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com> */
pre,
.hljs { display: block; overflow-x: auto; padding: 2rem; color: var(--content-pre-text-color) }
.hljs-comment, 
.hljs-quote { color: var(--hljs-quote) }
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition { color: var(--hljs-olive) }
.hljs-number, .hljs-string, .hljs-meta .hljs-meta-string, .hljs-literal, .hljs-doctag, .hljs-regexp { color: var(--hljs-green) }
.hljs-title, .hljs-section, .hljs-name, .hljs-selector-id, .hljs-selector-class { color: var(--hljs-blue) }
.hljs-attribute, .hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-class .hljs-title, .hljs-type { color: var(--hljs-yellow) }
.hljs-symbol, .hljs-bullet, .hljs-subst, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-link { color: var(--hljs-orange) }
.hljs-built_in, .hljs-deletion { color: var(--hljs-red) }
.hljs-formula { background: var(--hljs-gray) }
.hljs-emphasis { font-style: italic }
.hljs-strong { font-weight: bold }

@media (min-width: 800px) {
  .screenshots li { max-width: 30rem; display: inline-block; margin-right: 1rem }
}

@media (max-width: 800px) {
  .navigation .menu li { display: block; margin: 0 0 0.5rem 0 }
  .navigation .submenu li { margin: 0 }
  .api-columns { display: block }
}
  

/* color settings */
:root {
  --page-background-color: #FFF;
  --page-text-color: #000;
  --table-heading-background-color: #333;
  --table-heading-text-color: #FFF;
  --table-alt-background-color: #DDD;
  --link-text-color: #117;
  --link-hover-text-color: #07C;
  --header-gradient: linear-gradient(30deg, #117, #000);
  --header-text-color: #FFF;
  --header-link-text-color: rgba(255, 255, 255, 0.75);
  --navigation-heading-text-color: rgba(255, 255, 255, 0.5);
  --navigation-active-submenu-background-color: #FFF;
  --navigation-active-submenu-text-color: rgba(0, 0, 0, 0.75);
  --navigation-active-submenu-link-text-color: #117;
  --navigation-link-text-color: rgba(255, 255, 255, 0.75);
  --navigation-link-hover-text-color: #FFF;
  --navigation-active-heading-color: rgba(255, 255, 255, 0.125);
  --content-code-color: #900;
  --content-pre-background-color: #EEE;
  --content-pre-text-color: #333;
  --toggle-text-color: #666;
  --toggle-text-hover-color: #333;
  --toggle-current-background-color: #DDD;
  --screenshot-border-color: #EEE;
  --screenshot-shadow-color: #EEE;
  --get-color: darkgreen;
  --post-color: darkblue;
  --patch-color: purple;
  --delete-color: red;
  --get-text-color: darkgreen;
  --post-text-color: darkblue;
  --patch-text-color: purple;
  --delete-text-color: red;
  --api-method-color: #FFF;
  --api-subtle-color: #666;
  --hljs-quote: #586E75;
  --hljs-olive: #859900;
  --hljs-green: #2AA198;
  --hljs-blue: #268BD2;
  --hljs-yellow: #B58900;
  --hljs-orange: #CB4B16;
  --hljs-red: #DC322F;
  --hljs-gray: #073642;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: #22222b;
    --page-text-color: rgba(255, 255, 255, 0.75);
    --table-heading-background-color: rgba(0, 0, 0, 0.5);
    --table-heading-text-color: #FFF;
    --table-alt-background-color: #DDD;
    --link-text-color: #FFF;
    --link-hover-text-color: rgba(255, 150, 0, 0.75);
    --header-gradient: linear-gradient(30deg, #000, #22222b);
    --header-text-color: #FFF;
    --header-link-text-color: rgba(255, 255, 255, 0.75);
    --navigation-heading-text-color: rgba(255, 255, 255, 0.5);
    --navigation-active-submenu-background-color: #22222b;
    --navigation-active-submenu-text-color: rgba(255, 255, 255, 0.75);
    --navigation-active-submenu-link-text-color: #FFF;
    --navigation-link-text-color: rgba(255, 255, 255, 0.75);
    --navigation-link-hover-text-color: #FFF;
    --navigation-active-heading-color: rgba(255, 255, 255, 0.125);
    --content-code-color: #D2AE7F;
    --content-pre-background-color: rgba(0, 0, 0, 0.5);
    --content-pre-text-color: #CCC;
    --toggle-text-color: #999;
    --toggle-text-hover-color: #CCC;
    --toggle-current-background-color: rgba(0, 0, 0, 0.5);
    --screenshot-border-color: rgba(0, 0, 0, 0.5);
    --screenshot-shadow-color: #111;
    --get-color: darkgreen;
    --post-color: darkblue;
    --patch-color: purple;
    --delete-color: red;
    --get-text-color: #3eea3e;
    --post-text-color: #6262f0;
    --patch-text-color: #ea3fea;
    --delete-text-color: #f45656;
    --api-method-color: #FFF;
    --api-subtle-color: #CCC;
    --hljs-quote: #7DA7B5;
    --hljs-olive: #cde147;
    --hljs-green: #48ECDF;
    --hljs-blue: #268BD2;
    --hljs-yellow: #B58900;
    --hljs-orange: #CB4B16;
    --hljs-red: #FF6764;
    --hljs-gray: #073642;
  }
}
